In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [20]:
dataset=pd.read_csv('cc_approvals.csv')
columns_names=['Gender','Age','Debt','Married','BankCustomer','EducationLevel','Ethnicity','YearsEmployed',
'PriorDefault','Employed','CreditScore','DriversLicense','Citizen','ZipCode','Income','ApprovalStatus']
dataset.columns=columns_names
dataset.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+

In [46]:

#dataset['PriorDefault']=dataset['PriorDefault'].apply(lambda x: 1 if x=='t' else 0)
print(dataset['PriorDefault'].unique())

array([0])

In [9]:
def clean_data(dataset):
    dataset['Age']=dataset['Age'].apply(lambda x : None if x=="?"  else x)
    dataset['Gender']=dataset['Gender'].map({'a':0,'b':1,'?':None})
    dataset['Married']=dataset['Married'].map({'u':0,"y":1,"l":2,"?":None})
    dataset['BankCustomer']=dataset['BankCustomer'].map({'g':0,"p":1,"?":None,"gg":2})
    dataset['EducationLevel']=dataset['EducationLevel'].map({'q':0,'w':1,"m":2,'r':3,
                                                        'cc':4,'k':5,"c":6,'d':7,'x':8,
                                                         'i':9,'e':10,'aa':11,"ff":12,'j':13,'?':None })
    dataset['Ethnicity']=dataset['Ethnicity'].map({'h':0,"v":1,'bb':2,'ff':3,'j':4,'z':5,
                                               '?':None,'o':6,'dd':7,'n':8})

    
    pass