In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [6]:
dataset=pd.read_csv('cc_approvals.csv')
columns_names=['Gender','Age','Debt','Married','BankCustomer','EducationLevel','Ethnicity','YearsEmployed',
'PriorDefault','Employed','CreditScore','DriversLicense','Citizen','ZipCode','Income','ApprovalStatus']
dataset.columns=columns_names
dataset.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+

In [7]:
def clean_data(dataset):
    dataset['Age']=dataset['Age'].apply(lambda x : None if x=="?"  else x)
    dataset['Gender']=dataset['Gender'].map({'a':0,'b':1,'?':None})
    dataset['Married']=dataset['Married'].map({'u':0,"y":1,"l":2,"?":None})
    dataset['BankCustomer']=dataset['BankCustomer'].map({'g':0,"p":1,"?":None,"gg":2})
    dataset['EducationLevel']=dataset['EducationLevel'].map({'q':0,'w':1,"m":2,'r':3,
                                                        'cc':4,'k':5,"c":6,'d':7,'x':8,
                                                         'i':9,'e':10,'aa':11,"ff":12,'j':13,'?':None })
    dataset['Ethnicity']=dataset['Ethnicity'].map({'h':0,"v":1,'bb':2,'ff':3,'j':4,'z':5,
                                               '?':None,'o':6,'dd':7,'n':8})
    dataset['PriorDefault']=dataset['PriorDefault'].apply(lambda x: 1 if x=='t' else 0 if x=='f' else x)
    dataset['Employed']=dataset['Employed'].apply(lambda x: 1 if x=='t' else 0 if x=='f' else x)
    dataset['DriversLicense']=dataset['DriversLicense'].apply(lambda x: 1 if x=='t' else 0 if x=='f' else x)
    dataset['Citizen']=dataset['Citizen'].apply(lambda x: 1 if x=='g' else 0 if x=='s' else 2 if x=='p' else x)
    dataset['ZipCode']=dataset['ZipCode'].apply(lambda x: None if x =="?" else x)
    dataset['ApprovalStatus']=dataset['ApprovalStatus'].apply(lambda x: 1 if x=='+' else 0 if x=='-' else x)
    return dataset

    
dataset=clean_data(dataset)
dataset.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,0.0,58.67,4.460,0.0,0.0,0.0,0.0,3.04,1,1,6,0,1,00043,560,1
1,0.0,24.50,0.500,0.0,0.0,0.0,0.0,1.50,1,0,0,0,1,00280,824,1
2,1.0,27.83,1.540,0.0,0.0,1.0,1.0,3.75,1,1,5,1,1,00100,3,1
3,1.0,20.17,5.625,0.0,0.0,1.0,1.0,1.71,1,0,0,0,0,00120,0,1
4,1.0,32.08,4.000,0.0,0.0,2.0,1.0,2.50,1,0,0,1,1,00360,0,1

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import  KNNImputer
x=dataset.drop(columns=['ApprovalStatus'],axis=1)
y=dataset['ApprovalStatus']
knn_imputer=KNNImputer(n_neighbors=5)
x=knn_imputer.fit_transform(x)
str_x=StandardScaler()
x=str_x.fit_transform(x)

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,shuffle=True)
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86        91
           1       0.86      0.82      0.84        82

    accuracy                           0.85       173
   macro avg       0.85      0.85      0.85       173
weighted avg       0.85      0.85      0.85       173